
<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span style="color: white;"><i class="bi bi-car-front-fill">&nbsp</i></span><span style="color: red;">Ride</span><span style="color: white;">Easy</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span style="color: white;"> Category</span>
         </a>
         <ul class="dropdown-menu">
           <li>
             <a class="dropdown-item" href="/category/sports">Sports Car</a>
             <hr class="dropdown-divider">
           </li>
           <li>
             <a class="dropdown-item" href="/category/SUV">SUV</a>
             <hr class="dropdown-divider">
           </li>
           <li>
             <a class="dropdown-item" href="/category/MiniVan">MiniVan</a>
           </li>
         </ul>
       </li>

       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <span style="color: white;">Sort</span>
         </a>
         <ul class="dropdown-menu">
           <li>
             <a class="dropdown-item" href="/sort/dec">High to Low</a>
             <hr class="dropdown-divider">
           </li>
           <li>
             <a class="dropdown-item" href="/sort/asc">Low to High</a>
           </li>
         </ul>
       </li>
      </ul>
      
      <div>
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
           {% if not user.is_authenticated %}

             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/login"><span style="color:white"><i class="bi bi-box-arrow-in-right">&nbsp</i>Login</span></a>
             </li>

             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/register"><span style="color: white;"><i class="bi bi-person-plus">&nbsp</i>Register</span></a>
             </li>

           {% else %}

             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/logout"><span style="color: white;"><i class="bi bi-box-arrow-left">&nbsp</i>Logout</span></a>
             </li>
 

             <a type="button" class="btn btn-primary position-relative me-3" href="/cart">
              <i class="bi bi-cart3"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{cart_items}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>

           {% endif %}
             
           

           
         </ul>
      </div>
    </div>
  </div>
</nav>