<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span style="color: white;"><i class="bi bi-car-front-fill">&nbsp</i></span><span style="color: red;">Ride</span><span style="color: white;">Easy</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                </li>
            </ul>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/cars" style="color: white;">View Cars</a>
                      </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/add" style="color: white;">Add car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout" style="color: white;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>